#ignationfacerec-input-name {
  width: 450px;
  height: 100px;
  background-color:black;
  color: #fff;
  border-width: 0px;
  font-size: 100px;
  font-family: "Roboto";
  font-weight: bold;
  text-align: left;
  display: inline-block;
  margin-left: 20px;
  line-height: 100px;
}

input:focus{
  outline: none;
}


#ignationfacerec-wrapper {
  font-size: 100px;
  font-weight: bold;
line-height: 100px;
}
